<li [ngClass]="{
  'list-group-item': true,
  'list-group-item-success': post.loveIts > 0,
  'list-group-item-danger': post.loveIts < 0
}">
  <div class="row">
      <div class="container-fluid">
          <small class="right">{{ post.created_at | date: 'MM/dd/yyy, HH:mm a' }}</small>
          <h1>{{ post.title }}</h1>
          <p>{{ post.content }}</p>
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="onLove(post)">Love it</button>
    <button type="button" class="btn btn-danger" (click)="onDisLove(post)">Don't love it</button>
    <button type="button" class="btn btn-danger right" (click)="delete(index)">Suprimer</button>
</li>

